$font-inter: "Inter", sans-serif;
$font-roboto: "Roboto", sans-serif;
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);
$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);

.container {
  width: min(100% - 32px, 1440px);
  margin-inline: auto;
  margin-bottom: 50px;
}
